<div class="list">
  <input type="radio" id="option1"  name="options" [(ngModel)]="demoPage" value="signal">
  <label for="option1">Signal Demo</label>

  <input type="radio" id="option2" name="options" [(ngModel)]="demoPage" value="input">
  <label for="option2">Input Demo</label>


  <input type="radio" id="option3" name="options" [(ngModel)]="demoPage" value="view">
  <label for="option3">View Demo</label>

  
  <input type="radio" id="option4" name="options" [(ngModel)]="demoPage" value="store">
  <label for="option4">Store Demo</label>
</div>

